@import 'style.css';
.privacy{
    padding:10px;
    display: grid;
    grid-template-columns:500px 500px;
    grid-template-rows: 20px 350px;
    grid-gap:20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}
.privacy-info{
    grid-row: 2;
    padding:25px;
   text-align:justify;
}
.privacy-info p{
    padding:10px;
}
.hold-logo{
    grid-row:2;
    background: url(../images/privacy.svg) no-repeat;
    background-size: contain;
    background-position: center;
    height:auto;
}
@media screen and (max-width:1050px){
    .privacy{display: block;}
    .hold-logo{
        width:100%;
    }

}