@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=New+Tegomin&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&family=Roboto&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    font-family: 'Lobster', cursive;
    overflow-x: hidden;

}
.button{
  cursor: pointer;
  margin-right:350px;
  padding:5px;
  margin-top:2px;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  color:yellow;
  text-align: center;
}

.button > div{
    background:yellow;
    width:25px;
    height:3px;
    margin:5px;
}
.button :nth-child(2){
   width:15px;
    }
.logo{
    position:absolute;
    width:100px;
    top:15px;
    left:20%;
    cursor: pointer;
}
.header{
    width:100%;
    height:70px;
    padding:20px;
    background: rgb(20, 19, 19);
    display:flex;
    justify-content:flex-end;
    position: relative;
    z-index:100000000;
}
.nav a{
    color:black;
    text-decoration:none;
    font-size: 20px;
}
.nav{
    margin-right:20px;
}
.nav li{
    list-style: none;
    display:inline-block;
    padding:10px;
    width:100px;
    background: yellow;
    border-radius:25px;
    cursor: pointer;
    text-align:center;
}
 
.display{
    display:grid;
    padding-top: 30px;
    padding-bottom: 50px;
    grid-template-columns:5px 200px 10px  400px 10px 400px;
    grid-template-rows: 450px;
    grid-gap:5px;
    color:white;
    background: rgb(20, 19, 19);

}
.left{
    grid-column:2;
    width:auto;
    padding:10px;
    z-index: 10000;


}
.logo-container{
    display: grid;
    place-items:center;
}
.right{
    grid-column:4;
    width:auto;
    background: url(../images/right.jpg) no-repeat; 
    background-size:cover;
    background-position:center ;
 border-radius:10px;
}
.show-case{
  grid-column:6;
  display: grid;
 grid-template-rows:150px 150px 150px;
grid-gap:10px;
}
    .show-case > div{
  
        border-radius:10px;
     


    }
    .one{
        background:url(../images/one.jpg);
        background-position: center;
        background-size:cover;
    }
    .two{
        background:url(../images/two.jpg);
        background-position: center;
        background-size:cover;
    }
    .three{
   
        background:url(../images/three.png);
        background-position: center;
        background-size:cover;
        background-color:yellow;
    }
    .info{
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.651);
        border-radius:10px;
        padding:10px;
    }
    .info h3{
       
        text-align:center;
     
    }
    .info p{
        font-family: 'Abril Fatface', cursive;
        font-size:17px;
        padding:20px;

    }

.headphones{
    width:200px;
    margin-top:60px;

}
.information{
    font-size:40px;
    color:white;
    margin-top:10px;
    margin-left: 50px;
    width:600px;
    vertical-align:middle;
    background: rgba(20, 19, 19, 0.678);
    padding:10px;
    text-align:center;
}
.menu-btn{
    background:white;
}
a {
    color:white;
    text-decoration: none;
}
.down{
    display:grid;
    place-items:center;
    padding:10px;
    width:50px;
    height:50px;
    border:1px solid white;
    border-radius:50%;
    margin-left:70px;
    margin-top:20px;
    cursor: pointer;
   
}
/* watch this block*/
.menu-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    display: grid;
    grid-template-columns:170px 450px 20px 450px;
    width:100%;
    height:250px;
    grid-gap:15px;
    background:rgba(211, 181, 15, 0.678);
    position:absolute;
    top:50px;
    z-index:10000;
    display: block;
}

.menu-header h3{
    text-align:center;

}
.menu-in a{
    color:white;
}
.menu-in{
    grid-column:4; 
    color:black;
    padding:20px;
    border-radius:10px;
   
 
    
}
.menu-in ul{
    margin-top:50px;
}
.menu-in li{
    list-style:none;
    text-decoration:underline;
    font-size: 30px;
    margin:20px;
    margin-left:150px;
}
.hidden-menu{
    display: none;
}
.close{
    position:absolute;
    top:0;
    right:100;
}
.signup-holder{
    display: grid;
    grid-template-columns: 5px 350px 350px ;
    grid-gap:50px;
    padding:50px;
    place-items: center;
}
.price-notice{
    margin-top: 10px;
    grid-column: 2;
    background: none;
    width:auto;
    padding:20px;
    border-top:2px solid black;
  
}
.skewed-top{
 
    background: url(../images/skewed.png) no-repeat;
    width:350px;
    height:200px;
    padding:10px;
    font-size: 20px;
    text-align: center;
}
.skewed-top p{
    margin-top: 10px;
}
.signup{
    grid-column:3;
    width:250px;
    padding: 10px;
    background: yellow;
}
.txt-input{
    display: block;
    margin:10px;
    padding:15px;
    width:350px;
    border:none;
    border-right:2px solid black;
}
.submit-btn{
    width:350px;
    padding:10px;
    margin:10px;
    background: black;
    color:white;
    border:none;
    font-family: 'Abril Fatface', cursive;
    border-radius: 25px;
    font-size:20px;
    cursor: pointer;
}
header h3{
    text-align:center;
}
.point{
    float:right;
    border:1px solid black;
    border-radius: 50%;
    height:50px;
    width:50px;
    display: grid;
    place-items: center;
}
.price-notice header{
    text-align: center;
}
header h2{
    padding:10px;
    background: rgb(20, 19, 19);
    color:yellow;
    width:75%;
    border-top-right-radius: 10px;
}
.main-card h1{
    text-align: center;
    margin-top: 50px;
}
.big-notice{
    font-size:25px;
    text-align:center;
    padding: 50px;
 
}
.footer{
    margin-top:60px ;
    width:100%;
    background: rgb(20, 19, 19);
    padding:50px;
    display: grid;
    grid-template-columns: 10px 300px 300px 300px;
    grid-template-rows: 150px 10px;
    grid-gap:5px;
}
.links-quick{
    grid-column:2;
    color:white;
}
.links-quick a{
    text-decoration: underline;
}
.links-adress{
    color:white;
}
.footer  h4{

    text-decoration: underline;
}
.footer ul li{
    list-style: none;
    margin:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.faq-info{
    color:white;
}
.socials a{
    color:yellow;
    font-size: 25px;
}

.socials{
    grid-row:2;
    width:1000px;
    text-align:center;
 
    
}
.socials i{
    margin:10px;
}
 
@media screen and (max-width:1050px){
    


    .display{
        display: block;
        width:100%;
    }
    .header{
        display: flex;

    }
    .button{
        margin:0;
        display: block;    
    }
    .menu-in{
        display: grid;
    }
    .logo{
        position:absolute;
        top:5px;
        left:20px;
  
    }
    .information{
        margin-left:0px;
        width:100%;
    }
    .down{
        margin-left:110px;
        margin-top:5px;
        margin-bottom:10px;
    }
    .headphones{
        margin-top:10px;
        margin-left:10px;
    }
    .menu-header{
        display:block;
        height:auto;
        top:0px;
    }
    .logo-contain{
        display:none;
    }
    .menu-in li{
        font-size:25px;
        margin-left:50px;
    }
  
    .signup-holder{
    display: block;
    }
    .txt-input{
        width: 120%;
    }
    .submit-btn{
        width:120%;
    }
    .footer{
        display: block;
    }
    .socials{
        width:100%;
    }
}